@config "../../tailwind.config.js";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  cursor: crosshair;
}

.brutalist-border {
  border: 4px solid #f2f2f2;
}
.brutalist-border-thin {
  border: 2px solid #f2f2f2;
}
.text-huge {
  font-size: clamp(3rem, 10vw, 8rem);
  line-height: 0.9;
}
.hover-lime:hover {
  color: #80f906;
  -webkit-text-stroke: 1px #80f906;
}
.outline-text {
  color: transparent;
  -webkit-text-stroke: 1px #f2f2f2;
}
